body{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
div.gallery{
    padding: 0px 6px;
    border:1px solid red;
    float:left;
    width:24.9999%;
}
div.gallery:hover{
    border:1px solid #777;
}
div.gallery img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 700px){
    div.gallery{
        width: 49.9999%;
        padding:6px 0;
    }
}
@media only screen and (max-width:500px){
    div.gallery{
        width:100%;
    }
}
